<table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>
  <ng-container matColumnDef="Nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let contacto"> {{contacto.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="Telefono">
    <th mat-header-cell *matHeaderCellDef> Telefono </th>
    <td mat-cell *matCellDef="let contacto"> {{contacto.telefono}} </td>
  </ng-container>

  <ng-container matColumnDef="Email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let contacto"> {{contacto.email}} </td>
  </ng-container>

  <ng-container matColumnDef="Tipo">
    <th mat-header-cell *matHeaderCellDef> Tipo </th>
    <td mat-cell *matCellDef="let contacto"> {{contacto.tipo}} </td>
  </ng-container>

  <ng-container matColumnDef="Habitual">
    <th mat-header-cell *matHeaderCellDef> Habitual </th>
    <td mat-cell *matCellDef="let contacto"> {{contacto.habitual}} </td>
  </ng-container>

  <ng-container matColumnDef="Acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let j = index;">
      <button mat-raised-button color="warn" focusable="false">
        <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
      </button>
      <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">
        <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>